h1 {
    text-align: center;
    font-family: Copperplate Gothic Light, Helvetica, sans-serif;
    margin: 25px;
    font-size: 40px;
    color: #5A5A5A;
}

h2 {
    font-size: 20px;
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
    color: #5A5A5A
}

h3 {
    color: #5A5A5A;
}

p {
    color: #5A5A5A;
}

form {
    text-align: center;
}

label {
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
    color: #654321;
}

body {
    margin: 0px;
    background-color: #FAF9F6;
}

hr {
    border: 1px solid;
    width: 95%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #E6E3D3;
  color: white;
}

#weatherInput {
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
    margin: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: #E6E3D3;
    color: #654321;

}

#weatherSubmit {
    margin: 10px;
    background-color: #E6E3D3;
    border-radius: 4px;
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    padding: 10px;
    color: #654321;
}

#cloudHeader {
    background-image: url("https://t3.ftcdn.net/jpg/04/27/15/08/360_F_427150821_oQOZiOLP6lnWQdUmUG0YgQiTUsjmaGwE.jpg");
    background-size: cover;
    width: 100%;
}

#enterInfo {
    padding: 25px;
}


#currentConditions {
    text-align:center;
    padding-top: 50px;
}

#conditionPic {
    width:15%;
}


#forecastDiv {
    text-align: center;
    padding-top: 50px;
}

#forecastSeparator {
    border: 1px dashed;
    width: 75%;
}

#title {
    text-align: center;
    font-family: Copperplate Gothic Light, Helvetica, sans-serif;
    color: #654321;
    font-size: 50px;
}

#word {
    text-align: center;
    font-family: Copperplate Gothic Light, Helvetica, sans-serif;
    color: #800000;
    font-size: 40px;
}

#pronunciation {
    text-align: center;
}

#definitions {
    margin: 25px;
    text-align: left;
}



