h1 {
    text-align: center;
    font-family: Copperplate Gothic Light, Helvetica, sans-serif;
    margin: 25px;
    font-size: 40px;
    color: #5A5A5A;
}

h2 {
    font-size: 25px;
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
    color: #5A5A5A
}

h3 {
    color: #5A5A5A;
}

p {
    color: #5A5A5A;
}

form {
    text-align: center;
}

label {
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: #DDF5FE;
}

hr {
    border: 1px solid;
    width: 95%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #A7E5FC;
  color: white;
}

#weatherInput {
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
    margin: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: #A7E5FC;
    color: #5A5A5A;

}

#weatherSubmit {
    margin: 10px;
    background-color: #A7E5FC;
    border-radius: 4px;
    font-family: Copperplate Gothic Bold, Helvetica, sans-serif;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    padding: 10px;
    color: #5A5A5A;
}

#cloudHeader {
    background-image: url("https://i.pinimg.com/originals/7b/29/35/7b29359897e1e9cf1bf8724ad8d05f5f.jpg");
    background-size: cover;
    width: 100%;
}

#enterInfo {
    padding: 25px;
}


#currentConditions {
    text-align:center;
    padding-top: 50px;
}

#conditionPic {
    width:15%;
}


#forecastDiv {
    text-align: center;
    padding-top: 50px;
}

#forecastSeparator {
    border: 1px dashed;
    width: 75%;
}

#title {
    text-align: center;
    font-family: Copperplate Gothic Light, Helvetica, sans-serif;
    color: #00A2DC;
    font-size: 50px;
}